NEXT_PUBLIC_APP_MODE=local
SUPABASE_URL=
SUPABASE_ANON_KEY=
ARK_API_KEY=
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
DOUBAO_API_KEY=
SEEDREAM_API_KEY=
DOUBAO_IMAGE_MODEL=doubao-seedream-5-0-260128
DOUBAO_IMAGE_SIZE=2K
